@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #4a2040; */
    background-color: #3e606f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.card{
    background-color:#91aa9d;
    padding:20px;
    padding-bottom: 90px;
    text-align: center;
    border-radius: 10px;
    width:600px;height:300px;
    box-shadow:0 20px 20px rgba(0, 0, 0, 0.3),0 6px 6px rgba(0, 0, 0, 0.3) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.card-title{
    overflow-y: auto;
    word-break: keep-all;
    white-space: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    flex-grow: 1;
    width: 100%;
    padding:0 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 3px solid #3e606f;
    color: #132832;
}
.card-button{
    width:auto;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    background-color: #193441;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;

    position: absolute;
    bottom: 20px;
    transform-origin: center;
}
.card-button:active{
    transform: scale(0.9);
}
.card-button:hover{
    background-color: #275267;
}

@media (max-width:700px) {
    .card-title{
        font-size: 18px;
    }    
}
@media (max-width:500px) {
    .card-title{
        font-size: 17px;
    }    
}
@media (max-width:300px) {
    .card-title{
        font-size: 16px;
    }    
}